# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# DBT
target/
dbt_packages/
logs/

# Airflow
logs/
airflow.db
airflow.cfg
webserver_config.py
airflow-webserver.pid

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
